/* Estilos para la sección de nuestros aliados */
.allies {
    padding: 66px 0;
    text-align: center;
}

.allies-logos {
    display: flex;
    justify-content: space-evenly;
    gap: 22px 66px;
    flex-wrap: wrap;
    padding: 0 66px;
}

.ally {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allies h2 {
    font-size: 2.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.allies h2:hover {
    color: #f5d135;
    transform: scale(1.1);
}

.allies p {
    font-size: 18px;
    color: gray;
    padding: 50px 151px;
}

.ally img {
    width: 180px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ally img:hover {
    transform: scale(1.1);
}

@media (min-width: 1544px) {
    .allies-logos {
        padding: 66px calc((100vw - 1412px)/2);
    }
}

@media (max-width: 991px) {
    .allies p {
        margin: 0 calc((33.3vw - 30px) / 2);
        padding: 50px 0;
    }
}