/* seecion de servicios */
.products {
    /*padding: 60px 0;*/
    text-align: center;
    /*margin-top: 250px;*/
}

.products h2 {
    font-size: 35px;
    color: black;
    padding-top: 66px;
    transition: color 0.3s ease-in-out;
}

.products h2:hover {
    color: #edc823;
}

.products p:last-child {
    font-size: 18px;
    color: gray;
    padding: 0 151px 99px 151px;
}

@media (max-width: 991px) {

    .logo img {
        visibility: unset;
    }

    .products p:last-child {
        margin: 0 calc((33.3vw - 30px) / 2);
        padding: 0 0 99px 0;
    }
}